:root {
  --pink: #BB7295;
  --black: #000000;
  --gray: #f4f3f5;
  --white: #FFFFFF;
  --brown: #483c42;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h1 {
  font-weight: 100;
  color: var(--brown);
}

.container span {
  color: var(--pink);
}

.line {
  width: 100%;
  margin-top: 0.5rem;
}

.cardDiv {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
